openapi: 3.1.0
info:
  title: Orb Alerts API
  description: Orb is a billing platform for usage-based pricing. The API supports customers, plans, subscriptions, invoices, alerts, coupons, credit notes, and event ingestion.
  version: '1.0'
servers:
- url: https://api.withorb.com/v1
  description: Orb API
tags:
- name: Alerts
paths:
  /alerts:
    get:
      summary: List alerts
      operationId: listAlerts
      responses:
        '200':
          $ref: '#/components/responses/Generic'
      tags:
      - Alerts
  /alerts/customer:
    post:
      summary: Create a customer-level alert
      operationId: createCustomerAlert
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
      tags:
      - Alerts
  /alerts/subscription:
    post:
      summary: Create a subscription-level alert
      operationId: createSubscriptionAlert
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
      tags:
      - Alerts
components:
  responses:
    Generic:
      description: Successful response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  requestBodies:
    Generic:
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
x-generated-from: https://docs.withorb.com/llms.txt
x-generated-by: claude-crawl-2026-05-08
