openapi: 3.1.0
info:
  title: Orb Alerts Subscriptions API
  description: Orb is a billing platform for usage-based pricing. The API supports customers, plans, subscriptions, invoices, alerts, coupons, credit notes, and event ingestion.
  version: '1.0'
servers:
- url: https://api.withorb.com/v1
  description: Orb API
tags:
- name: Subscriptions
paths:
  /subscriptions:
    post:
      summary: Create a subscription
      operationId: createSubscription
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
      tags:
      - Subscriptions
  /subscriptions/{id}/usage:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      summary: Fetch subscription usage
      operationId: getSubscriptionUsage
      responses:
        '200':
          $ref: '#/components/responses/Generic'
      tags:
      - Subscriptions
components:
  responses:
    Generic:
      description: Successful response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  requestBodies:
    Generic:
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
x-generated-from: https://docs.withorb.com/llms.txt
x-generated-by: claude-crawl-2026-05-08
