openapi: 3.1.0
info:
  title: Orb Alerts Customers API
  description: Orb is a billing platform for usage-based pricing. The API supports customers, plans, subscriptions, invoices, alerts, coupons, credit notes, and event ingestion.
  version: '1.0'
servers:
- url: https://api.withorb.com/v1
  description: Orb API
tags:
- name: Customers
paths:
  /customers:
    post:
      summary: Create a customer
      operationId: createCustomer
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
      tags:
      - Customers
  /customers/{id}/balance_transactions:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      summary: Create an immutable balance transaction for a customer
      operationId: createBalanceTransaction
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
      tags:
      - Customers
components:
  responses:
    Generic:
      description: Successful response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  requestBodies:
    Generic:
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
x-generated-from: https://docs.withorb.com/llms.txt
x-generated-by: claude-crawl-2026-05-08
