openapi: 3.1.0
info:
  title: Orb API
  description: >-
    Orb is a billing platform for usage-based pricing. The API supports
    customers, plans, subscriptions, invoices, alerts, coupons, credit notes,
    and event ingestion.
  version: "1.0"
x-generated-from: https://docs.withorb.com/llms.txt
x-generated-by: claude-crawl-2026-05-08
servers:
  - url: https://api.withorb.com/v1
    description: Orb API
paths:
  /availability:
    get:
      summary: Test connection to the Orb API and check API key validity
      operationId: checkAvailability
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /alerts:
    get:
      summary: List alerts
      operationId: listAlerts
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /alerts/customer:
    post:
      summary: Create a customer-level alert
      operationId: createCustomerAlert
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /alerts/subscription:
    post:
      summary: Create a subscription-level alert
      operationId: createSubscriptionAlert
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /coupons:
    post:
      summary: Create a coupon
      operationId: createCoupon
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /credit_notes:
    post:
      summary: Create a credit note
      operationId: createCreditNote
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /customers:
    post:
      summary: Create a customer
      operationId: createCustomer
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /customers/{id}/balance_transactions:
    parameters:
      - $ref: '#/components/parameters/Id'
    post:
      summary: Create an immutable balance transaction for a customer
      operationId: createBalanceTransaction
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /events/ingest:
    post:
      summary: Ingest events for usage-based billing
      operationId: ingestEvents
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /invoices:
    post:
      summary: Create a one-off invoice for a customer
      operationId: createInvoice
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /plans:
    post:
      summary: Create a plan with prices
      operationId: createPlan
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /prices/evaluate:
    post:
      summary: Evaluate price output for a customer over a time range
      operationId: evaluatePrices
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /subscriptions:
    post:
      summary: Create a subscription
      operationId: createSubscription
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /subscriptions/{id}/usage:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      summary: Fetch subscription usage
      operationId: getSubscriptionUsage
      responses:
        '200':
          $ref: '#/components/responses/Generic'
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  requestBodies:
    Generic:
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  responses:
    Generic:
      description: Successful response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
